python-dotenv
numpy
pandas
rarfile
luigi>=2.8.12
beautifulsoup4>=4.8.2
aiohttp>=3.6.2
attrs>=19.3.0
python-box>=4.2.2
requests>=2.23.0
tqdm>=4.43.0
xmltodict>=0.12.0
xlrd>=1.2.0
sqlalchemy
lxml
requests-html